In [10]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
from pandas import Series
import numpy as np

In [48]:
data=pd.read_csv('/Users/apple/Desktop/socialmedia-disaster-tweets-DFE.csv')

In [49]:
# data.head(10)

In [50]:
df = data[data.choose_one != "Can't Decide"]

In [51]:
df.count()

_unit_id                 10860
_golden                  10860
_unit_state              10860
_trusted_judgments       10860
_last_judgment_at        10776
choose_one               10860
choose_one:confidence    10860
choose_one_gold             87
keyword                  10773
location                  7228
text                     10860
tweetid                  10860
userid                   10773
dtype: int64

In [52]:
df.describe()

,_unit_id,_trusted_judgments,choose_one:confidence,tweetid,userid
count,1.086000e+04,10860.000000,10860.000000,1.086000e+04,1.077300e+04
mean,7.782503e+08,6.024033,0.842612,6.239983e+17,1.230712e+09
std,3.200925e+03,10.471466,0.167508,5.608013e+16,1.167304e+09
min,7.782438e+08,3.000000,0.334200,1.000000e+00,3.840000e+03
25%,7.782475e+08,5.000000,0.739075,6.290590e+17,1.863365e+08
50%,7.782503e+08,5.000000,0.805300,6.290920e+17,6.336101e+08
75%,7.782530e+08,5.000000,1.000000,6.292322e+17,2.414309e+09
max,7.782611e+08,157.000000,1.000000,6.293650e+17,3.404474e+09

In [53]:
df = df[['text','choose_one']]

In [56]:
# df.head(-10)

In [57]:
df_relevant = df[df.choose_one == "Relevant"]

In [58]:
df_relevant.describe()

                                                     text choose_one
count                                                4673       4673
unique                                               4554          1
top     11-Year-Old Boy Charged With Manslaughter of T...   Relevant
freq                                                   13       4673

In [59]:
df_relevant.count()

text          4673
choose_one    4673
dtype: int64

In [60]:
df_relevant["choose_one"].describe()

count         4673
unique           1
top       Relevant
freq          4673
Name: choose_one, dtype: object

In [61]:
df_relevant.head(10)

                                                text choose_one
0                 Just happened a terrible car crash   Relevant
1  Our Deeds are the Reason of this #earthquake M...   Relevant
2  Heard about #earthquake is different cities, s...   Relevant
3  there is a forest fire at spot pond, geese are...   Relevant
4             Forest fire near La Ronge Sask. Canada   Relevant
5  All residents asked to 'shelter in place' are ...   Relevant
6  13,000 people receive #wildfires evacuation or...   Relevant
7  Just got sent this photo from Ruby #Alaska as ...   Relevant
8  #RockyFire Update => California Hwy. 20 closed...   Relevant
9           Apocalypse lighting. #Spokane #wildfires   Relevant

In [62]:
relevant_data=df_relevant['text']

In [63]:
# relevant_data = relevant_data.reset_index(drop=True)

In [64]:
relevant_data.count()

4673

In [65]:
df_irrelevant = df[df.choose_one == "Not Relevant"]
df_irrelevant.count()
# relevant_data = relevant_data.reset_index(drop=True)

text          6187
choose_one    6187
dtype: int64

In [66]:
relevant_data.to_csv('relevant_kaggle_data.csv')

In [67]:
df_irrelevant.to_csv('irrelevant_kaggle_data.csv')