In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('/Users/shravya/Downloads/CrisisNLP_labeled_data_crowdflower/2014_India_floods/2014_india_floods.csv')

In [13]:
data = data[["choose_one_category","choose_one_category:confidence","tweet_text"]]

In [14]:
data.head(1)

,choose_one_category,choose_one_category:confidence,tweet_text
0,injured_or_dead_people,1.0,"RT @timesofindia: Nepal flood toll hits 101, f..."

In [19]:
filtered_data = data[data["choose_one_category"].isin(["caution_and_advice", "injured_or_dead_people", "missing_trapped_or_found_people"])]

In [21]:
filtered_data.choose_one_category.unique()

array(['injured_or_dead_people', 'caution_and_advice',
       'missing_trapped_or_found_people'], dtype=object)

In [22]:
filtered_data.to_csv('indian_floods_with_label.csv', index=False)

In [24]:
filtered_data_no_label = filtered_data["tweet_text"]

In [25]:
filtered_data_no_label.head(1)

0    RT @timesofindia: Nepal flood toll hits 101, f...
Name: tweet_text, dtype: object

In [26]:
filtered_data_no_label.to_csv('indian_floods_no_label.csv', index=False)